
.navbar {
  display: flex;
  background-color: #FFF;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  padding: 12px;
  font-size: 14px;
}